*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
core/common/build/
core/config/build/
core/database/build/
core/logger/build/
core/network/build/
feature/friends/build/
feature/map/build/
feature/markers/build
feature/profile/build/
feature/users/shared/ui/build/